/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/typography/text/replacement";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/transition";


$container-width: 960px;
$bg-color: #ddd;

$link-color: #d92027;

$left-container-width: 240px;
$left-container: #fff;

$column-width: 240px;
$columns: 3;
$main-width: $column-width * $columns;

$post-bg-color: #fff;
$post-footer-color: #888;
$post-gap: 10px;
$post-padding: 10px;

$minus: $post-gap + (2 * $post-padding);

html {
	height: 100%;
}

body {
	background: $bg-color;
	font-family: helvetica, arial;
	font-size: 13px;
	line-height: 15px;
}

a {
	text-decoration: none;
	color: $link-color;
}

#container {
	margin: 0 auto;
	width: $container-width;

	> header {
		position: fixed;
		width: $left-container-width - $post-gap;
		height: 100%;
		padding: 20px 0 50px;
		background: #fff;
		@include box-shadow(rgba(0,0,0, 0.3) 5px 5px 10px);

		hgroup {
			h1 a {
				display: block;
				height: 162px;
				@include replace-text('logo.png');
			}
			h2 {
				text-align: center;
			}
		}
		nav {
			#pull {
				display: none;
			}
		}
	}

	footer {
		clear: both;
	}
}



#main {
	margin-left: $left-container-width;
	width: $main-width;

	> header {
		padding: 10px;
		background: #eee;
		margin: 0 $post-gap $post-gap 0;
		@include box-shadow(rgba(0,0,0, 0.3) 5px 5px 10px);
	}
	.posts {
		position: relative;

		.post {
			position: relative;
			width: $column-width - $minus;
			background: $post-bg-color;
			margin-right: $post-gap;
			margin-bottom: $post-gap;
			padding: $post-padding;
			@include box-shadow(rgba(0,0,0, 0.3) 5px 5px 10px);

			&.double {
				width: $column-width * 2 - $minus;

				.content {
					.picture {
						width: $column-width * 2 - $post-padding;
						img {
							margin-top: -25%;
						}
					}
				}
			}

			&.triple {
				width: ($column-width * 3) - $minus;

				.content {
					.picture {
						width: $column-width * 3 - $post-padding;
						img {
							margin-top: -25%;
						}
					}
				}
			}

			&.double,
			&.triple {
				> header {
					h1 a {
						font-size: 22px;
						line-height: 50px;
					}
				}
			}

			> header {
				min-height: 60px;

				h1 a{
					display: block;
					font-size: 18px;
					line-height: 22px;
				}
			}

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				border-width: 0 0 10px 15px;
				border-style: solid;
				border-color: transparent transparent transparent #f00;
			}

			.content {
				.picture {
					display: block;
					overflow: hidden;
					max-height: 150px;
					margin-left: -$post-padding;
					margin-bottom: $post-padding;
					width: $column-width - $post-padding;

					img {
						width: 100%;
					}
				}
				p {
					text-align: justify;
				}
			}

			footer {
				color: $post-footer-color;
				font-size: 10px;
				line-height: 12px;
				text-align: right;

				address {
					display: inline;
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	#container {
		width: 720px;

		#main {
			width: $column-width * 2;

			.posts{

				.post {

					&.triple {
						width: $column-width * 2 - $minus;

						.content {
							.picture {
								width: $column-width * 2 - $post-padding;
								img {
									margin-top: -25%;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 760px) {

	body {
		background: #777;
	}

	#container {
		width: auto;
		margin-left: $post-gap/2;
		margin-right: $post-gap/2;

		> header {
			position: relative;
			width: auto;
			height: auto;
			@include box-shadow(none);

			nav {
				ul {
					display: none;
				}

				#pull {
					padding: 0 10px;
					display: block;
					background: #f00 url(../images/menu.png) no-repeat 95% 50%;
					color: #fff;
					font-size: 15px;
					font-weight: bold;
					line-height: 45px;
					outline: 0;

					&:focus {
						outline: 0;
					}
				}
			}
		}

		#main {
			margin-left: 0;
			width: auto;

			> header {
				margin-right: 0;
			}

			.posts {

				.post {

					&,
					&.double,
					&.triple {
						width: auto;
						margin-right: 0;
						@include box-shadow(rgba(0,0,0, 0.6) 0px 5px 7px);

						.content {
							.picture {
								width: auto;
							}
						}
					}
				}
			}
		}
	}
}

