/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, source/tri/_desktop.scss */
html {
  height: 100%;
}

/* line 5, source/tri/_desktop.scss */
body {
  background: #dddddd;
  font-family: helvetica, arial;
  font-size: 100%;
  line-height: 100%;
}

/* line 12, source/tri/_desktop.scss */
a {
  text-decoration: none;
  color: #d92027;
}

/* line 17, source/tri/_desktop.scss */
#container {
  margin: 0 auto;
  width: 960px;
}
/* line 21, source/tri/_desktop.scss */
#container > header {
  position: fixed;
  width: 230px;
  height: 100%;
  padding: 20px 0 50px;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
}
/* line 30, source/tri/_desktop.scss */
#container > header hgroup h1 a {
  display: block;
  height: 162px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/logo.png?1350241666');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 35, source/tri/_desktop.scss */
#container > header hgroup h2 {
  text-align: center;
  font-size: 1em;
  line-height: 2.5em;
  font-style: italic;
}
/* line 43, source/tri/_desktop.scss */
#container > header nav ul {
  display: block;
}
/* line 46, source/tri/_desktop.scss */
#container > header nav #pull {
  display: none;
}
/* line 52, source/tri/_desktop.scss */
#container footer {
  clear: both;
}

/* line 59, source/tri/_desktop.scss */
#main {
  margin-left: 240px;
  width: 720px;
}
/* line 63, source/tri/_desktop.scss */
#main > header {
  padding: 10px;
  background: #eee;
  margin: 0 10px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
}
/* line 69, source/tri/_desktop.scss */
#main .posts {
  position: relative;
}
/* line 73, source/tri/_desktop.scss */
#main .posts.masonry .post {
  float: none;
}
/* line 78, source/tri/_desktop.scss */
#main .posts .post {
  position: relative;
  float: left;
  width: 230px;
  background: white;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: -webkit-box-shadow 0.3s linear;
  -moz-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: box-shadow 0.3s linear;
}
/* line 92, source/tri/_desktop.scss */
#main .posts .post:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 10px;
}
/* line 96, source/tri/_desktop.scss */
#main .posts .post.double {
  width: 470px;
}
/* line 100, source/tri/_desktop.scss */
#main .posts .post.triple {
  width: 710px;
}
/* line 103, source/tri/_desktop.scss */
#main .posts .post.triple .content {
  font-size: .95em;
}
/* line 111, source/tri/_desktop.scss */
#main .posts .post.double > header h1 a, #main .posts .post.triple > header h1 a {
  font-size: 1.2em;
}
/* line 118, source/tri/_desktop.scss */
#main .posts .post > header h1 a {
  display: block;
  margin: 10px 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px dotted #000;
  font-size: 1em;
  line-height: 1.3em;
  text-transform: uppercase;
}
/* line 129, source/tri/_desktop.scss */
#main .posts .post .picture {
  display: block;
  height: 150px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
  background-size: 100%;
}
/* line 141, source/tri/_desktop.scss */
#main .posts .post .picture:hover {
  background-size: 110%;
}
/* line 145, source/tri/_desktop.scss */
#main .posts .post .picture img {
  display: none;
}
/* line 150, source/tri/_desktop.scss */
#main .posts .post .content {
  font-size: 0.72em;
  padding: 10px;
}
/* line 154, source/tri/_desktop.scss */
#main .posts .post .content p {
  text-align: justify;
}
/* line 159, source/tri/_desktop.scss */
#main .posts .post footer {
  color: #888888;
  font-size: 10px;
  line-height: 12px;
  padding: 0 10px 10px;
  text-align: right;
}
/* line 166, source/tri/_desktop.scss */
#main .posts .post footer address {
  display: inline;
}

@media screen and (min-width: 740px) and (max-width: 960px) {
  /* line 3, source/tri/_tablet.scss */
  #container {
    width: 720px;
  }
  /* line 7, source/tri/_tablet.scss */
  #container > header {
    margin-right: 10px;
  }
}
@media screen and (min-width: 480px) and (max-width: 739px) {
  /* line 18, source/tri/_tablet.scss */
  #container {
    width: auto;
    margin-left: 10px;
    margin-right: 0;
  }
  /* line 23, source/tri/_tablet.scss */
  #container > header {
    margin-right: 10px;
  }

  /* line 28, source/tri/_tablet.scss */
  #main > header {
    margin-right: 10px;
  }
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  /* Target landscape smartphones, portrait tablets, narrow desktops */
  /* line 44, source/tri/_tablet.scss */
  #container > header {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    padding: 10px;
  }
  /* line 51, source/tri/_tablet.scss */
  #container > header hgroup {
    float: left;
    width: 200px;
  }
  /* line 55, source/tri/_tablet.scss */
  #container > header nav {
    float: left;
  }
  /* line 59, source/tri/_tablet.scss */
  #container > header nav ul li {
    float: left;
  }
  /* line 66, source/tri/_tablet.scss */
  #container #main {
    margin-left: 0;
    width: auto;
  }
}
@media screen and (max-width: 479px) {
  /* Target portrait smartphones */
  /* line 5, source/tri/_smartphone.scss */
  body {
    background: #777;
  }

  /* line 9, source/tri/_smartphone.scss */
  #container {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }
  /* line 14, source/tri/_smartphone.scss */
  #container > header {
    position: relative;
    width: auto;
    height: auto;
    padding-top: 70px;
    padding-bottom: 1px;
  }
  /* line 22, source/tri/_smartphone.scss */
  #container > header hgroup h1 a {
    margin-bottom: 5px;
  }
  /* line 25, source/tri/_smartphone.scss */
  #container > header hgroup h2 {
    font-size: 120%;
    line-height: 200%;
    margin-bottom: 5px;
  }
  /* line 32, source/tri/_smartphone.scss */
  #container > header nav {
    position: absolute;
    top: 0;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 7px -3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 7px -3px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 7px -3px;
  }
  /* line 39, source/tri/_smartphone.scss */
  #container > header nav ul {
    overflow: hidden;
    display: none;
    margin: 1px 0;
  }
  /* line 44, source/tri/_smartphone.scss */
  #container > header nav ul li {
    width: 33.3%;
    float: left;
  }
  /* line 48, source/tri/_smartphone.scss */
  #container > header nav ul li a {
    display: block;
    height: 55px;
    background: #000;
    color: #fff;
    margin: 1px;
    font-size: 0.8em;
    line-height: 80px;
    text-align: center;
  }
  /* line 61, source/tri/_smartphone.scss */
  #container > header nav #pull {
    padding: 0 10px;
    display: block;
    background: #d92027 url(../images/menu.png) no-repeat 95% 50%;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    line-height: 45px;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  /* line 76, source/tri/_smartphone.scss */
  #container #main {
    margin-left: 0;
    width: auto;
  }
  /* line 80, source/tri/_smartphone.scss */
  #container #main > header {
    margin-right: 0;
  }
  /* line 88, source/tri/_smartphone.scss */
  #container #main .posts .post, #container #main .posts .post.double, #container #main .posts .post.triple {
    width: auto;
    margin-right: 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 7px;
    -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 7px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 7px;
  }
  /* line 95, source/tri/_smartphone.scss */
  #container #main .posts .post header h1 a, #container #main .posts .post.double header h1 a, #container #main .posts .post.triple header h1 a {
    min-height: 20px;
    font-size: 1.17em;
    line-height: 1.3em;
  }
  /* line 102, source/tri/_smartphone.scss */
  #container #main .posts .post .content, #container #main .posts .post.double .content, #container #main .posts .post.triple .content {
    font-size: .95em;
  }
  /* line 105, source/tri/_smartphone.scss */
  #container #main .posts .post .content .more, #container #main .posts .post.double .content .more, #container #main .posts .post.triple .content .more {
    display: block;
    color: #fff;
    background: #d92027;
    margin: 10px -10px -10px;
    text-align: center;
    line-height: 25px;
  }
  /* line 115, source/tri/_smartphone.scss */
  #container #main .posts .post footer, #container #main .posts .post.double footer, #container #main .posts .post.triple footer {
    display: none;
  }
}
/* line 21, source/screen.scss */
.category {
  position: relative;
  display: block;
}
/* line 25, source/screen.scss */
.category span {
  position: absolute;
  bottom: 0;
  left: -8px;
  background: #d92027;
  color: #fff;
  font-weight: bold;
  padding: 0 25px;
  font-size: 0.8em;
  line-height: 2em;
}
/* line 36, source/screen.scss */
.category span:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -8px;
  left: 0;
  border-width: 8px 0 0 8px;
  border-style: solid;
  border-color: #801317 transparent transparent transparent;
}
